.menu-container{
    //border: 1px solid grey;
    position: absolute;
    width:100%;
    background-color: antiquewhite;
    padding-right: 50px;
}
.menuBtn{
    float: right;
    background-color: coral;
    color: blue;
    margin-right: 5px;
}